<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>demo</display-name>
	<welcome-file-list>
		<welcome-file>home</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Home</servlet-name>
		<servlet-class>servlet.index.Home</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminLoginServlet</servlet-name>
		<servlet-class>servlet.admin.login.AdminLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminLoginServlet</servlet-name>
		<url-pattern>/adminLoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>QuestionSearchServlet</servlet-name>
		<servlet-class>servlet.admin.question.QuestionSearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QuestionSearchServlet</servlet-name>
		<url-pattern>/questionSearchServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>QuestionManageServlet</servlet-name>
		<servlet-class>servlet.admin.question.QuestionManageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QuestionManageServlet</servlet-name>
		<url-pattern>/questionManageServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>QuestionDeleteServlet</servlet-name>
		<servlet-class>servlet.admin.question.QuestionDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QuestionDeleteServlet</servlet-name>
		<url-pattern>/questionDeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>QuestionTopServlet</servlet-name>
		<servlet-class>servlet.admin.question.QuestionTopServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QuestionTopServlet</servlet-name>
		<url-pattern>/questionTopServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>QuestionUntopServlet</servlet-name>
		<servlet-class>servlet.admin.question.QuestionUntopServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QuestionUntopServlet</servlet-name>
		<url-pattern>/questionUntopServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>QuestionUpdateServlet</servlet-name>
		<servlet-class>servlet.admin.question.QuestionUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QuestionUpdateServlet</servlet-name>
		<url-pattern>/questionUpdate</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserManageServlet</servlet-name>
		<servlet-class>servlet.admin.user.UserManageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserManageServlet</servlet-name>
		<url-pattern>/userManageServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserSearchServlet</servlet-name>
		<servlet-class>servlet.admin.user.UserSearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserSearchServlet</servlet-name>
		<url-pattern>/userSearchServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserDeleteServlet</servlet-name>
		<servlet-class>servlet.admin.user.UserDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserDeleteServlet</servlet-name>
		<url-pattern>/userDeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserLockServlet</servlet-name>
		<servlet-class>servlet.admin.user.UserLockServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserLockServlet</servlet-name>
		<url-pattern>/userLockServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserUnlockServlet</servlet-name>
		<servlet-class>servlet.admin.user.UserUnlockServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserUnlockServlet</servlet-name>
		<url-pattern>/userUnlockServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Index</servlet-name>
		<servlet-class>servlet.homepage.Index</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Index</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SearchServlet</servlet-name>
		<servlet-class>servlet.homepage.SearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchServlet</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ComputerServlet</servlet-name>
		<servlet-class>servlet.homepage.category.ComputerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ComputerServlet</servlet-name>
		<url-pattern>/computer</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RenwenServlet</servlet-name>
		<servlet-class>servlet.homepage.category.RenwenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RenwenServlet</servlet-name>
		<url-pattern>/renwen</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>OthersServlet</servlet-name>
		<servlet-class>servlet.homepage.category.OthersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OthersServlet</servlet-name>
		<url-pattern>/others</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AllServlet</servlet-name>
		<servlet-class>servlet.homepage.category.AllServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AllServlet</servlet-name>
		<url-pattern>/all</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ToPersonEdit</servlet-name>
		<servlet-class>servlet.user.information.ToPersonEdit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ToPersonEdit</servlet-name>
		<url-pattern>/personEdit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SchoolUpdateServlet</servlet-name>
		<servlet-class>servlet.user.information.SchoolUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SchoolUpdateServlet</servlet-name>
		<url-pattern>/schoolUpdate</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ToPersonServlet</servlet-name>
		<servlet-class>servlet.user.information.ToPersonServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ToPersonServlet</servlet-name>
		<url-pattern>/toPerson</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>servlet.user.login.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>servlet.user.login.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>servlet.user.login.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>QuesEditServlet</servlet-name>
		<servlet-class>servlet.user.question.QuesEditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QuesEditServlet</servlet-name>
		<url-pattern>/quesEdit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MyQuesDelServlet</servlet-name>
		<servlet-class>servlet.user.question.MyQuesDelServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyQuesDelServlet</servlet-name>
		<url-pattern>/myQuesDelServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ViewUsrQues</servlet-name>
		<servlet-class>servlet.user.question.ViewUsrQues</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewUsrQues</servlet-name>
		<url-pattern>/ViewUsrQues</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddAnswer</servlet-name>
		<servlet-class>servlet.user.answer.AddAnswer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddAnswer</servlet-name>
		<url-pattern>/AddAnswer</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>deleteAnswer</servlet-name>
		<servlet-class>servlet.user.answer.deleteAnswer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteAnswer</servlet-name>
		<url-pattern>/deleteAnswer</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateAnswer</servlet-name>
		<servlet-class>servlet.user.answer.UpdateAnswer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateAnswer</servlet-name>
		<url-pattern>/UpdateAnswer</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ViewQuesAnswer</servlet-name>
		<servlet-class>servlet.user.answer.ViewQuesAnswer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewQuesAnswer</servlet-name>
		<url-pattern>/ViewQuesAnswer</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ViewUsrAnswer</servlet-name>
		<servlet-class>servlet.user.answer.ViewUsrAnswer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewUsrAnswer</servlet-name>
		<url-pattern>/ViewUsrAnswer</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SearchAnswer</servlet-name>
		<servlet-class>servlet.user.answer.SearchAnswer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchAnswer</servlet-name>
		<url-pattern>/SearchAnswer</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>addCollect</servlet-name>
		<servlet-class>servlet.user.collect.addCollect</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addCollect</servlet-name>
		<url-pattern>/addCollect</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>manageCollect</servlet-name>
		<servlet-class>servlet.user.collect.manageCollect</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>manageCollect</servlet-name>
		<url-pattern>/manageCollect</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>deleteCollect</servlet-name>
		<servlet-class>servlet.user.collect.deleteCollect</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteCollect</servlet-name>
		<url-pattern>/deleteCollect</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>searchCollect</servlet-name>
		<servlet-class>servlet.user.collect.searchCollect</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>searchCollect</servlet-name>
		<url-pattern>/searchCollect</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>deleteQues</servlet-name>
		<servlet-class>servlet.user.question.DeleteQues</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteQues</servlet-name>
		<url-pattern>/deleteQues</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateQues</servlet-name>
		<servlet-class>servlet.user.question.UpdateQues</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateQues</servlet-name>
		<url-pattern>/UpdateQues</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SearchQues</servlet-name>
		<servlet-class>servlet.user.question.SearchQues</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchQues</servlet-name>
		<url-pattern>/SearchQues</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ViewQuestion</servlet-name>
		<servlet-class>servlet.user.question.ViewQuestion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewQuestion</servlet-name>
		<url-pattern>/ViewQuestion</url-pattern>
	</servlet-mapping>
	
	<!-- 新主页的注册登录退出 -->
	<servlet>
		<servlet-name>GoIntoBBS</servlet-name>
		<servlet-class>servlet.index.GoIntoBBS</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GoIntoBBS</servlet-name>
		<url-pattern>/GoIntoBBS</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserLoginServlet</servlet-name>
		<servlet-class>servlet.admin.user.UserLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserLoginServlet</servlet-name>
		<url-pattern>/userLoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserLogoutServlet</servlet-name>
		<servlet-class>servlet.admin.user.UserLogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserLogoutServlet</servlet-name>
		<url-pattern>/userLogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserRegisterServlet</servlet-name>
		<servlet-class>servlet.admin.user.UserRegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserRegisterServlet</servlet-name>
		<url-pattern>/userRegisterServlet</url-pattern>
	</servlet-mapping>
	<!-- 新主页的注册登录退出 -->
</web-app>